.RadioGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.RadioOption {
  margin-bottom: 12px;
  cursor: pointer;
}

input {
  margin-right: 8px;
  cursor: pointer;
}

label {
  cursor: pointer;
}
